/*************** Personnalisation des polices  **********************/

$headings-font-family: "Times New Roman",
Times,
serif;

$h5-font-size: 1.4rem;

$input-btn-font-size: 1.2rem;

$primary: #22A1ED;
$dark: #04040C;
$headings-color: #284876;
$card-bg: #FCFCFC;
$light: #1e2222;


/*******  Réglage du screen-reader only ****/

@mixin visually-hidden() {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.sr-only {
    @include visually-hidden;
}